/node_modules
/docs/.vuepress/.cache
/docs/.vuepress/.temp
/docs/.vuepress/dist
/examples
/pnpm-lock.yaml
/packages/**/dist
/packages/**/node_modules
/packages/generator-*/generators
/packages/generator-*/skeletal
