// View
.dulladmin-view {
  padding: 0 20px;
}

// Block - TableBlock
.dulladmin-table-block {
  .action-icon {
    margin-left: 12px;
    cursor: pointer;
  }
}

// Block - DescriptionsBlock
.dulladmin-descriptions-block {
  .arco-descriptions {
    .arco-descriptions-item-label {
      text-align: right;
    }
  }
}

// Block - EChartsBlock
.dulladmin-echarts-block {
  .echarts {
    height: 320px;
  }
}

// Dialog - DescriptionsDialog
.dulladmin-descriptions-dialog {
  .arco-descriptions {
    .arco-descriptions-item-label {
      text-align: right;
    }
  }
}

// Dialog - FormDialog
.dulladmin-form-dialog {
  .arco-form {
    .arco-form-item:last-child {
      margin-bottom: 0;
    }
  }
}
