// View
.da-view {
  padding: 0 20px;
}

// Block - TableBlock
.da-table-block {
  .action-icon {
    margin-left: 12px;
    cursor: pointer;
  }

  .column-operations {
    width: 80px;
  }
}

// Block - DescriptionsBlock
.da-descriptions-block {
  .arco-descriptions {
    .arco-descriptions-item-label {
      text-align: right;
    }
  }
}

// Block - EChartsBlock
.da-echarts-block {
  .echarts {
    height: 320px;
  }
}

// Dialog - DescriptionsDialog
.da-descriptions-dialog {
  .arco-descriptions {
    .arco-descriptions-item-label {
      text-align: right;
    }
  }
}

// Dialog - FormDialog
.da-form-dialog {
  .arco-form {
    .arco-form-item:last-child {
      margin-bottom: 0;
    }
  }
}
